.form__infor {
    width: 50%;
    margin: 0 auto;
    padding: 1.6rem 3.2rem;
}

.form__title {
    font-size: 4.8rem;
    text-align: center;
    font-weight: 600;
}

.form__input-field {
    display: flex;
    align-items: center;
    margin-bottom: 2.8rem;
}

.form__label {
    width: 20%;
    font-size: 2rem;
    font-weight: 700;
    color: var(--font-text-color);
    text-align: right;
    margin-right: 1.6rem;
}

.form__control {
    flex: 1;
    height: 68px;
    border: 2px solid transparent;
    background-color: var(--field-color);
    font-size: 1.5rem;
    padding: 1.5rem;
    color: rgb(137, 137, 137);
    border-radius: 2px;
}

.form__control:focus {
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: var(--text-color);
    transition: .3s all linear;
}


