.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.grid.wide {
    max-width: 1130px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 16px;
    padding-right: 16px;
}

.l-0, .l-1, .l-2, .l-3, .l-4, .l-5, .l-6,
.l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
    display: block;
}

.row.no-guuter .col {
    padding-left: 0;
    padding-right: 0;
}

.l-0 {
    display: none;
}

.l-1 {
    flex: 0 0 calc(100%/12*1);
    max-width: calc(100%/12*1);
}

.l-2 {
    flex: 0 0 calc(100%/12*2);
    max-width: calc(100%/12*2);
}

.l-2-4 {
    flex: 0 0 calc(100%/12*2.4);
    max-width: calc(100%/12*2.4);
}

.l-2-4 {
    flex: 0 0 calc(5/12*100%);
    min-width: calc(5/12*100%);
}

.l-3 {
    flex: 0 0 calc(100%/12*3);
    max-width: calc(100%/12*3);
}

.l-4 {
    flex: 0 0 calc(100%/12*4);
    max-width: calc(100%/12*4);
}

.l-5 {
    flex: 0 0 calc(100%/12*5);
    max-width: calc(100%/12*5);
}

.l-6 {
    flex: 0 0 calc(100%/12*6);
    max-width: calc(100%/12*6);
}

.l-7 {
    flex: 0 0 calc(100%/12*7);
    max-width: calc(100%/12*7);
}

.l-8 {
    flex: 0 0 calc(100%/12*8);
    max-width: calc(100%/12*8);
}

.l-9 {
    flex: 0 0 calc(100%/12*9);
    max-width: calc(100%/12*9);
}

.l-10 {
    flex: 0 0 calc(100%/12*10);
    max-width: calc(100%/12*10);
}

.l-11 {
    flex: 0 0 calc(100%/12*11);
    max-width: calc(100%/12*11);
}

/* ----------------------------------------- */

.l-0-1 {
    margin-left: calc(100%/12*1);
}

.l-o-2 {
    margin-left: calc(100%/12*2);
}

.l-o-2-4 {
    margin-left: calc(100%/12*2.4);
}

.l-0-3 {
    margin-left: calc(100%/12*3);
}

.l-0-4 {
    margin-left: calc(100%/12*4);
}

.l-0-5 {
    margin-left: calc(100%/12*5);
}

.l-0-6 {
    margin-left: calc(100%/12*6);
}

.l-0-7 {
    margin-left: calc(100%/12*7);
}

.l-0-8 {
    margin-left: calc(100%/12*8);
}

.l-0-9 {
    margin-left: calc(100%/12*9);
}

.l-0-10 {
    margin-left: calc(100%/12*10);
}

.l-0-11 {
    margin-left: calc(100%/12*11);
}







