/* MODAL CSS  */
/* .modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
} */

/* HEADER CSS */
.header {
    height: var(--header__height);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    position: relative;
}
/* ------------ */
.header__topbar {
    height: var(--header__topbar__height);
    background-color: #202020;
}

.header__topbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__topbar__cta-link,
.tracking-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
    line-height: var(--header__topbar__height);
}

.header__topbar__tracking {
    display: flex;
    align-items: center;
}

.tracking-item {
    margin-left: 1.6rem;
}

.tracking-item i {
    margin-right: 2px;
}
/* ------------------------------ */
.header__search {
    height: var(--header__search__height);
    display: flex;
    align-items: center;
}
.header__logo {
    width: 190px;
}

.header__logo-link {
    display: block;
    width: 140px;
}

.header__search__box {
    flex-grow: 1;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.header__search-input {
    height: 48px;
    flex-grow: 1;
    font-size: 1.3rem;
    padding: 0 28px;
    border: none;
    outline: none;
    background-color: unset;
}

.header__search-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.header__search-btn {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    cursor: pointer;
}

.header__search-btn-svg {
    width: 20px;
    height: 40px;
    margin-right: 8px;
}

.header__search__account {
    width: 200px;
    text-align: right;
}

.header__search__cart {
    width: 75px;
    text-align: right;
}

.header__search__account-link,
.header__search__cart-link {
    text-decoration: none;
    color: unset;
}

.header__search__account-link {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
}

.header__search__cart i {
    font-size: 25px;
}

.header__nav {
    height: var(--header__nav__height);
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar__item__link {
    text-decoration: none;
    color: rgb(0, 2, 4);
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navbar__youtube-icon {
    color: #FE8BAF;
    font-size: 2.4rem;
    margin-right: 4px;
}

.navbar__item__link:hover {
    color: #FE8BAF;
}
/* END HEADER CSS */

/* SLIDER CSS */
.slider {
    margin: 0 auto;
    height: var(--slider__height);
    max-width: 1440px;
    width: 100%;
    background: url('../img/slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
}

.slider:hover .slider__arrow--left {
    transform: translate(60px, -50%);
}

.slider:hover .slider__arrow--right {
    transform: translate(-60px, -50%);
}

.slider__arrow {
    width: 60px;
    height: 90px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 3.5rem;
    text-align: center;
    line-height: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s linear;
    cursor: pointer;
}

.slider__arrow--left {
    left: -60px;
}

.slider__arrow--right {
    right: -60px;
}

.slider__circle {
    position: absolute;
    transform: translateX(-50%);
    top: 101%;
    left: 50%;
    transition: all .3s linear;
    opacity: 0;
}

.slider:hover .slider__circle {
    transform: translateX(-50%) translateY(-200%);
    opacity: 1;
}

.slider__circle-item {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #000;
    margin-right: 8px;
    border-radius: 50%;
}

.slider__circle-item--active {
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
}
/* END SLIDER CSS  */

/* HOT DEAL CSS  */
.product-slide {
    padding: 30px 0;
}

.product-slide__name {
    font-size: 2.2rem;
    font-weight: 600;
    color: #202020;
    padding: 20px 0 30px;
}

.product__item-link {
    text-decoration: none;
    color: inherit;
    line-height: 2rem;
}

.product__img {
    width: 100%;
}

.product__item-content {
    margin-top: 8px;
}

.product__item-company {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222327;
    -webkit-line-clamp: 1;
    width: 100%;
    display: -webkit-box;
    text-overflow: ellipsis;
}

.product__item-name {
    font-size: 1.3rem;
    color: #3e4048;
}

.product__item-star-icon {
    font-size: 1.2rem;
    padding: 0.8rem 0;
}

.product__item-rating-number {
    font-size: 1.2rem;
    color: #8a8d90;
}

.product__item-price {
    font-size: 1.6rem;
    color: #3e4048;
    font-weight: 600;
}

.product__item-price-vnd {
    text-decoration:underline;
}

.product__item-price-cmt {
    font-size: 1.2rem;
    color: #8a8d90;
    font-weight: 400;
}
/* END HOT DEAL CSS  */