/* GLOBAL CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.clear {
    clear: both;
}
/* END GLOBAL CSS */

/* HEADER CSS */
.header__top-bar {
    background-color: #000;
    padding: 15px 0;
}

.top-bar__contact , .top-bar__socials {
    display: inline-block;
}

.top-bar__socials {
    float: right;
}

.top-bar__contact a, .top-bar__socials a {
    color: #fff;
    text-decoration: none;
}

.top-bar__contact a:hover, .top-bar__socials a:hover, 
.navbar__item:hover {
    color: #eb592d;
}

.top-bar__contact span {
    color: #fff;
    margin-left: 50px;
}

.top-bar__socials a {
    margin-left: 30px;
}

/* ------------------------------ */

.header__main {
    padding: 30px 0;
}

.header__logo, .header__navbar {
    display: inline-block;
}

.header__navbar {
    float: right;
}

.navbar__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar__item {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin-left: 40px;
}
/* END HEADER CSS */

/* CAROUSEL */
.carousel {
    height: 600px;
    background-image: url(../img/banner.png);
    background-size: 100%;
    background-position: center bottom;
}

.carousel__left {
    width: 30%;
}

.carousel__right {
    width: 70%;
    height: 100%;
}

.carousel__img {
    width: 100%;
}
/* END CAROUSEL */