/* GLOBAL CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.btn {
    font-weight: 500;
    padding: 17px 50px;
    border: none;
    background-color: #fff;
    color: #ff3500;
    font-size: 16px;
    border-radius: 30px;
}

.btn:hover {
    background-color: #ff3500;
    color: white;
}

/* END GLOBAL CSS */

/* HEADER CSS */
.header__top-bar {
    background-color: #000;
    padding: 15px 0;
}

.top-bar__contact , .top-bar__socials {
    display: inline-block;
}

.top-bar__socials {
    float: right;
}

.top-bar__contact a, .top-bar__socials a {
    color: #fff;
    text-decoration: none;
}

.top-bar__contact a:hover, .top-bar__socials a:hover, .navbar__item:hover {
    color: #eb592d;
}

.top-bar__contact span {
    color: #fff;
    margin-left: 50px;
}

.top-bar__socials a {
    margin-left: 30px;
    font-size: 18px;
}

/* ------------------------------ */

.header__main {
    padding: 30px 0;
}

.header__logo, .header__navbar {
    display: inline-block;
}

.header__navbar {
    float: right;
}

.navbar__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar__item {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin-left: 40px;
}
/* END HEADER CSS */

/* CAROUSEL */
.carousel {
    background-image: url(../img/banner.png);
    height: 600px;
    background-size: 100%;
    background-position: center bottom;
}

.carousel__left, .carousel__right {
    float: left;
}

.carousel__left {
    width: 30%;
    padding-top: 115px;
}

.carousel__left h1 {
    color: #fff;
    font-size: 78px;
    line-height: 85px;
}

.carousel__left p {
    color: #fff;
    line-height: 32px;
    margin: 12px 0 50px 0;
}

.carousel__left span {
    font-weight: 400;
}

/* ---------------- */

.carousel__right {
    width: 70%;
}

.carousel__img {
    padding-top: 43px;
    width: 100%;
}
/* END CAROUSEL */

/* SERVICES CSS */
.services {
    margin-top: 241px;
}

.services__title {
    text-align: center;
}

.services__title h2 {
    font-size: 50px;
    font-weight: 300;
}

.services__title p {
    color: #909092;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

/* --------------------------------- */

.services__list {
    list-style: none;
    margin: 106px 0 30px;
    text-align: center;
}

.service__bg {
    width: calc(100%/3);
    float: left;
    padding: 0 10px;
}

.service__item {
    border: 1px solid #eb592da3;
    border-radius: 10px;
    padding: 70px 25px;
}

.service__item img {
    width: 160px;
    height: 140px;
    padding: 30px;
    background-image: url(../img/service_icon_bg_1.png);
}

.service__item h3 {
    font-size: 25px;
    margin: 43px 0 22px;
    font-weight: 600;
}

.service__desr {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #909092;
}
/* END SERVICES CSS */

/* PET CARE CSS */
.petCare__left, .petCare__right {
    width: 50%;
    float: left;
}

.petCare__left {
    text-align: center;
}

.petCare__left img {
    width: 456px;
}

.petCare__right {
    margin-top: 90px;
}

.petCare__contact {
    width: 464px;
}

.petCare__right h2, .help__left h2 {
    font-size: 50px;
    font-weight: 300;
}

.petCare__right p, .help__left p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 54px;
    color: #66666f;
}

.petCare .btn, .help__left .btn {
    background-color: #ff3500;
    color: #fff;
}

.petCare .btn:hover, .help__left .btn:hover {
    background-color: #fff;
    color: #ff3500;
    border: 1px solid #f35000;
}
/* END PET CARE CSS */

/* HELP CSS */
.help__left, .help__right {
    float: left;
    width: 50%;
}

.help__left {
    width: 50%;
    padding: 30px;
    padding-top: 100px;
}

.help__left p {
    font-size: 16px;
}

.help__right .col {
    width: 50%;
    float: left;
    padding: 15px;
}

.help__right .col-1 {
    padding-top: 160px;
} 

.help__right .item {
    text-align: center;
    padding: 40px;
    border: 1px solid rgb(0, 0, 2, 0.08);
    border-radius: 15px;
}

.help__right .col-2 > .item {
    margin-bottom: 40px;
}

.help__right .quantity {
    font-size: 60px;
    font-weight: 700;
    color: #383737;
    margin-bottom: 2px;
    margin-top: 22px;
    line-height: 1;
}

.help__right .item p {
    font-size: 20px;
    color: gray;
    font-weight: 400;
    display: block;
    margin-bottom: 0;
}
/* END HELP CSS */

/* TEAM */
.team {
    padding: 200px;
}

.team__title {
    text-align: center;
    width: 570px;
    margin: 0 auto;
}

.team__title h3 {
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: #191d34;
}

.team__title p {
    font-size: 16px;
    line-height: 30px;
    color: #909092;
    font-weight: 400;
}

.team__list {
    list-style: none;
    margin-top: 90px;
}

.team__item {
    width: calc(100% / 3);
    float: left;
    position: relative;
}

.team__infor {
    background-color: #fff;
    color: #000;
    padding: 10px 40px;
    text-align: center;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 2,0.08);
}

.team__infor h4 {
    font-weight: 700;
    color: #222;
    font-size: 18px;
}

.team__infor p {
    font-size: 14px;
    color: #7a7b7c;
    font-weight: 400;
}
/* TEAM CSS */

/* CONTACT CSS */
.contact {
    background-image: url(../img/contact_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 170px;
    padding-bottom: 160px;
}

.contact__content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.contact__content h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: white;
}

.contact__content p {
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.contact__action {
    font-size: 18px;
    color: white;
}

.contact__content span {
    margin: 0 10px;
}

.contact__action a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin-left: 10px;
}
/* END CONTACT CSS */